﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MTracker - Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/lib/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/lib/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/lib/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper" ng-app="dashboard">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="width: 250px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="Index">MTracker</a>
            </div>
            <div class="navbar-brand" ng-controller="headingsController">
                <span ng-bind="title"></span>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a ui-sref="profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a ui-sref="settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a asp-controller="Account" asp-action="LogOff"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a ui-sref="index" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a><i class="fa fa-area-chart fa-fw"></i> Devices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" ui-sref-active="active">
                                <li>
                                    <a ui-sref="addDevice" ui-sref-active="active">Add New</a>
                                </li>
                                <li>
                                    <a ui-sref="getSoftware" ui-sref-active="active">Get Software</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div ui-view>
                        Loading...
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script src="~/js/dashboard.js"></script>
    @Html.Partial("~/Views/Dashboard/Partial/Index.cshtml")
    @Html.Partial("~/Views/Dashboard/Partial/Profile.cshtml")
    @Html.Partial("~/Views/Dashboard/Partial/Settings.cshtml")

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/lib/raphael/raphael.js"></script>
    <script src="~/lib/morrisjs/morris.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/lib/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
</body>
</html>
