﻿.navbar-default {
    background-color: #f05f40;
    border: none;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 24px;
}
.sidebar ul li a.active {
    background-color: #ffffff;
    color: #000000;
}
a {
    color: #ffffff;
    text-decoration: none;
}
#wrapper {
    background-color: #f05f40;
}
.sidebar .nav-second-level {
    background-color: #F37F66;
}
.sidebar .nav-second-level li a.active {
    background-color: #ffffff;
    color: #000000;
}
.nav li a:hover, .nav li a:focus {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}