﻿.small-suggest {
    margin: 0 0 10px;
    font-size: 12px;
    font-family: inherit;
}
.brow-background{
    padding-bottom: 30px;
    margin-top: -20px;
    text-align:center;
    background-color:#222222;
    color:#fff;
    height: 100%
}
footer{
    padding:0px;
    margin:0px;
}
footer p{
    margin:0px;
}

.links-conteiner{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
@media (min-width: 768px) {
    .links-conteiner {
        padding:20px 0px;
    }
}

.links-conteiner .link-column{
    padding-left: 0;
    padding-right: 0;
}

.align-right{
    text-align: right;
}

.link-column a{
    color:#333;
}
.link-column a:hover{
    color:rgba(255,255,255,.7);
}

.form-control:focus{
    border-color: #222;
}

.form-margin{
    margin:5px 0px;
} 

.form-border{
    border-radius: 0px;
}

.form-check{
    padding: 6px 12px;
}

.header-background{
    min-height:80%;
    padding-bottom:20px;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-background .row{
    margin:0px;
}
.account-action-title{
     margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
    color: #777
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus:hover{
    color: #000000
}

.navbar-default .navbar-header .navbar-brand {
    color: #777
}

.navbar-default .navbar-header .navbar-brand:hover {
    color: #000000
}