﻿@{
    Layout = "/Views/Shared/_AccountActionLayout.cshtml";
    ViewBag.Title = "Confirm Email";
    ViewBag.ActionName = "Confirm Email";
}

<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>