﻿@{
    Layout = "/Views/Shared/_AccountActionLayout.cshtml";
    ViewBag.ActionName = "Forgot Password Confirmation";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>