﻿@model MTracker.Web.Models.AccountViewModel.ForgotPasswordViewModel
@{
    Layout = "/Views/Shared/_AccountActionLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
    ViewBag.ActionName = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <p class=""> What a shame...<br /> Just put your email in the input field..</p>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <input class="uniqueCheck form-control form-margin form-border" asp-for="Email" placeholder="email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <input type="submit" class="btn btn-danger btn-block" value="Send a password" />
        </div>
    </div>
    <div class="col-sm-offset-1 col-xs-10 links-conteiner">
        <div class="col-xs-12 link-column align-left">
            @Html.ActionLink("Maybe you remember your password ?", "Login")
        </div>
    </div>
}