﻿@model MTracker.Web.Models.AccountViewModel.LoginViewModel
@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication

@{
    Layout = "/Views/Shared/_AccountActionLayout.cshtml";
    ViewBag.Title = "Login";
    ViewBag.ActionName = "Login";
}

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-sm-offset-1 col-xs-10">
                <input class="form-control form-margin form-border" id="UserName" asp-for="UserName" placeholder="username" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-xs-10">
                <input class="form-control form-margin form-border" id="UserName" asp-for="Password" placeholder="password" />
            </div>
        </div>
        
        <div class="col-sm-offset-1 col-xs-10">
            <input  class="btn btn-danger btn-block" type="submit" value="Log in" />
        </div>
            <div class="col-sm-offset-1 col-xs-10 links-conteiner">
                <div class="col-xs-6 link-column">
                    @Html.ActionLink("Register a new user?", "Register")
                </div>
                <div class="col-xs-6 link-column align-right">
                    @Html.ActionLink("Forget your password?", "ForgotPassword")
                </div>
            </div>
    }