﻿@model MTracker.Web.Models.AccountViewModel.RegisterViewModel
@{
    Layout = "/Views/Shared/_AccountActionLayout.cshtml";
    ViewBag.Title = "Register";
    ViewBag.ActionName = "Register";
}

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <!-- form-->
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="form-control form-margin form-border" id="UserName" asp-for="Username" placeholder="username" />
            </div>
            <div class="col-xs-1 form-check">
                <img class="loader" src="~/img/ajax-loader.gif" style="display: none" />
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="uniqueCheck form-control form-margin form-border" asp-for="Email" placeholder="email" />
            </div>
            <div class="col-xs-1 form-check">
                <img class="loader" src="~/img/ajax-loader.gif" style="display: none" />
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="simpleCheck form-control form-margin form-border" asp-for="FirstName" placeholder="first name" />
            </div>
            <div class="col-xs-1 form-check">
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="simpleCheck form-control form-margin form-border" asp-for="LastName" placeholder="last name" />
            </div>
            <div class="col-xs-1 form-check">
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="form-control form-margin form-border" asp-for="Password" placeholder="password" />
                <p class="small-suggest">At least one upper case, lower case, number and symbol</p>
            </div>
            <div class="col-xs-1 form-check">
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
                <input class="form-control form-margin form-border" asp-for="ConfirmPassword" placeholder="confirm password" />
            </div>
             <div class="col-xs-1 form-check">
                <span class="glyphicon" style="display: none"></span>
            </div>
        </div>
        <div class="col-xs-11 col-sm-offset-1 col-sm-10 ">
            <input id="RegisterSubmit" class="btn btn-danger btn-block" type="submit" value="register" disabled />
        </div>
    }
          
 @section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/register.js"></script>
 }

