﻿<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Mtracker</h2>
                <hr class="light">
                <p class="text-faded">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac leo dapibus, auctor tellus quis, tempus ligula. Aliquam cursus sapien sapien, sit amet vehicula turpis tincidunt euismod. Phasellus volutpat mauris ultricies odio auctor, vel lobortis urna ultricies. Duis hendrerit varius aliquet. Donec tristique est eu nisl dignissim, ut facilisis velit hendrerit. Sed eu sem vehicula, viverra nisl gravida, aliquet neque. Cras eu velit nisl. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut iaculis massa. Suspendisse finibus rhoncus dui. Phasellus rutrum sapien in enim molestie, at volutpat nisi vulputate.
                    <br />
                    Donec sit amet ornare justo. Etiam eget mauris interdum, consequat erat ac, pulvinar quam. Cras congue eget ex eu pretium. Etiam pellentesque gravida dolor, et facilisis nulla venenatis nec. Donec sit amet tortor massa. Suspendisse gravida tempus velit ac condimentum. Nam et tellus sagittis, porttitor metus eget, volutpat libero. Etiam auctor massa at nibh facilisis, non venenatis turpis hendrerit. Sed ac diam nisl. Ut dignissim suscipit velit, eu semper justo lobortis vitae.
                    <br />
                </p>
                @Html.ActionLink("Register!", "Register",
                 new { controller = "Account" },
                 new { @class = "btn btn-default btn-x1" })
            </div>
        </div>
    </div>
</section>