﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("IndexNavigation")
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="~/img/main-logo.png" style="max-height: 200px"/>
            <hr>
            <p>Mtracker special tool for temperature.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

@Html.Partial("About")
@Html.Partial("Services")
@Html.Partial("Contacts")