﻿<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary"></i>
                    <h3>Easy to use</h3>
                    <p class="text-muted">You just need to register and buy our product</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart  wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Results</h3>
                    <p class="text-muted">We show you detailed results</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We get updates from trakers every 30 second</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart  wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h3>Growing</h3>
                    <p class="text-muted">We make new features every moth</p>
                </div>
            </div>
        </div>
    </div>
</section>