﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account";
}
<div class="header-background">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="header-content" style="padding:0px">
                <div class="header-content-inner">
                    <img src="~/img/main-logo.png" style="max-height: 200px; margin-top : 30px" />
                    <hr>
                    <p  class="account-action-title"> @ViewData["ActionName"]</p>
                </div>
            </div>
            @RenderBody()
          </div>
      </div>
</div>
@RenderSection("scripts", required: false)